@model EscuelaMVC.Models.AlumnoCurso

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AlumnoCurso</h4>
    <hr />
    <dl class="dl-horizontal"></dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <dl class="dl-horizontal">
            <dt> @Html.DisplayNameFor(x => x.Alumno.Nombre)  </dt>
            <dd> @Html.DisplayFor(x => x.Alumno.Nombre)  </dd>

            <dt> @Html.DisplayNameFor(x => x.Alumno.Apellido)  </dt>
            <dd> @Html.DisplayFor(x => x.Alumno.Apellido)  </dd>

            <dt> @Html.DisplayNameFor(x => x.Alumno.Correo)  </dt>
            <dd> @Html.DisplayFor(x => x.Alumno.Correo)  </dd>

            <dt> @Html.DisplayNameFor(x => x.Curso.Nombre)  </dt>
            <dd> @Html.DisplayFor(x => x.Curso.Nombre)  </dd>

        </dl>



        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
